<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876902480330-h3bcg30hmfm42ugi0h36sr75e512ojll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876902480330-h3bcg30hmfm42ugi0h36sr75e512ojll</string>
	<key>API_KEY</key>
	<string>AIzaSyDSKG_P3gb-OvGxYBaxxIek3xTvwiQxfpA</string>
	<key>GCM_SENDER_ID</key>
	<string>876902480330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ascom</string>
	<key>PROJECT_ID</key>
	<string>ascom-55898</string>
	<key>STORAGE_BUCKET</key>
	<string>ascom-55898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876902480330:ios:0c507ce10b20876f9f7733</string>
</dict>
</plist>